<a href="https://colab.research.google.com/github/adarsh991074/Adarssh_SD/blob/main/pandAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas for practice**

In [1]:
import pandas as pd

In [2]:
#read the files

In [4]:
df=pd.read_csv("/content/sample_data/california_housing_train.csv")

In [5]:
df.head(10000)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
9995,-119.77,36.75,44.0,1818.0,412.0,1680.0,418.0,1.7083,48300.0
9996,-119.77,36.75,39.0,1287.0,332.0,1386.0,306.0,1.5227,46900.0
9997,-119.77,36.74,51.0,1454.0,235.0,729.0,252.0,3.3125,70100.0
9998,-119.77,36.74,50.0,1325.0,280.0,811.0,281.0,1.8667,62800.0
9999,-119.77,36.73,45.0,1081.0,241.0,821.0,230.0,1.7829,52600.0

In [6]:
#data types=dtypes

In [7]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [8]:
df.size

153000

In [9]:
df.shape
#number of rows and columns

(17000, 9)

In [13]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [14]:
df.values

array([[-1.1431e+02,  3.4190e+01,  1.5000e+01, ...,  4.7200e+02,
         1.4936e+00,  6.6900e+04],
       [-1.1447e+02,  3.4400e+01,  1.9000e+01, ...,  4.6300e+02,
         1.8200e+00,  8.0100e+04],
       [-1.1456e+02,  3.3690e+01,  1.7000e+01, ...,  1.1700e+02,
         1.6509e+00,  8.5700e+04],
       ...,
       [-1.2430e+02,  4.1840e+01,  1.7000e+01, ...,  4.5600e+02,
         3.0313e+00,  1.0360e+05],
       [-1.2430e+02,  4.1800e+01,  1.9000e+01, ...,  4.7800e+02,
         1.9797e+00,  8.5800e+04],
       [-1.2435e+02,  4.0540e+01,  5.2000e+01, ...,  2.7000e+02,
         3.0147e+00,  9.4600e+04]])

In [15]:
df.axes

[RangeIndex(start=0, stop=17000, step=1),
 Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value'],
       dtype='object')]

In [16]:
df.ndim
#no.of dimensions

2